@import '~styles/common.scss';

.TodoInput {
    width: 100%;
    display: flex;
    input {
        flex: 1;
        height: 2rem;
        font-size: 1.35rem;

        outline: none;
        padding: 0.5rem;

        font-weight: 700;
    }
}