@import '~styles/common.scss';

.TodoList {
    display: flex;
    flex-direction: column;

    .item {
        background: white;
        padding: 1rem;
    }   
    
    .item + .item {
        border-top: 1px solid $oc-gray-2;
    }
}