@import '~styles/common.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $oc-gray-0;
    height: calc(100vh);
    margin: 0 auto;

    .inner {
        width: 500px;
        
    }
}